/** || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

/** || FONTS */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto-v48-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/roboto-v48-latin-700.woff2") format("woff2");
}

/** || VARIABLES */
/* CHANGE THE DATA BELOW AS NEEDED */
:root {
  /* FONTS */
  --FF: "Roboto", sans-serif;
  --FS: 1rem;

  /* COLORS */
  --BGCOLOR: #f0f5f8;
  --BGCOLOR-CLOCK-ASSETS: #f0f5f8;
  --BGCOLOR-CLOCK-MARKER: #000;
  --BGCOLOR-CLOCK-HOUR: #000;
  --BGCOLOR-CLOCK-MINUTE: #fc3e55d6;
  --BGCOLOR-CLOCK-SECOND: hsla(0, 0%, 53%, 0.7);
  --BGCOLOR-CLOCK-KNOB: #fc3e55d6;
  --FONT-COLOR-SEARCH-INPUT: #000;
  --FONT-COLOR-SEARCH-INPUT-PLACEHOLDER: #777;
  --FONT-COLOR-HEADER-TITLE: #000;
  --FONT-COLOR-HEADER-SUBTITLE: #000;
  --FONT-COLOR-CLOCK-TIME: #000;
  --FONT-COLOR-CLOCK-DIGITAL-TIME: #000;
  --FONT-COLOR-CLOCK-LOCATION: #0000007a;
  --FONT-COLOR-CLOCK-DATE: #000;
  --FONT-COLOR-FOOTER-TAGLINE: #000;
  --COLOR-SEARCH-ICON: #000;
  --BORDER-COLOR-SEARCH-INPUT: #0000007a;
  --BORDER-COLOR-CLOCK-KNOB: #000;
  --SHADOW-COLOR-CLOCK-ASSETS-1: rgba(0, 0, 0, 0.25);
  --SHADOW-COLOR-CLOCK-ASSETS-2: #fff;

  /* THEME TOGGLE COLORS */
  --FONT-COLOR-THEME-ICON-LIGHT: #333;
  --BGCOLOR-THEME-BUTTON: #f1f1f1;
  --BGCOLOR-THEME-BUTTON-AFTER: #333;
  --BORDER-COLOR-THEME-BUTTON: #ccc;
  --SHADOW-COLOR-THEME: rgba(0, 0, 0, 0.3);

  /* BORDERS */
  --BORDER-THEME-BUTTON: 1px solid var(--BORDER-COLOR-THEME-BUTTON);
  --BORDER-SEARCH-INPUT: 1px solid var(--BORDER-COLOR-SEARCH-INPUT);
  --BORDER-CLOCK-KNOB: 2.5px solid var(--BORDER-COLOR-CLOCK-KNOB);

  /* SHADOWS */
  --BOX-SHADOW-THEME: 0 0 3px var(--SHADOW-COLOR-THEME);
  --BOX-SHADOW-CLOCK-ASSETS: 10px 10px 20px var(--SHADOW-COLOR-CLOCK-ASSETS-1),
    -10px -10px 20px var(--SHADOW-COLOR-CLOCK-ASSETS-2);
}

/** || UTILITY CLASSES */
.dark {
  --BGCOLOR: #333;
  /* ADD OTHER DARK COLOR THEME VARIABLES */

  /* THEME TOGGLE COLORS */
  --FONT-COLOR-THEME-ICON-DARK: #f1f1f1;
  --BGCOLOR-THEME-BUTTON: #222;
  --BGCOLOR-THEME-BUTTON-AFTER: #f1f1f1;
  --BORDER-COLOR-THEME-BUTTON: #666;
  --SHADOW-COLOR-THEME: rgba(255, 255, 255, 0.3);
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  display: none;
}

.container {
  padding-inline: 1.5rem;
  max-width: 75rem;
  margin-inline: auto;
}

/** || GENERAL STYLES */
html {
  font-size: var(--FS);
  font-family: var(--FF);
}

body {
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  position: relative;
}

/** || HEADER */
.theme {
  box-shadow: var(--BOX-SHADOW-THEME);
  background-color: transparent;
  border-radius: 50px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.theme__button {
  border: var(--BORDER-THEME-BUTTON);
  background-color: var(--BGCOLOR-THEME-BUTTON);
  border-radius: 100px;
  width: 2.5rem;
  height: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme__button::after {
  content: "";
  background-color: var(--BGCOLOR-THEME-BUTTON-AFTER);
  position: absolute;
  left: 0;
  top: 0.225rem;
  bottom: 0.225rem;
  width: 1rem;
  border-radius: 100px;
  transform: translateX(0.2rem);
}

.theme__button.active::after {
  transform: translateX(1.1rem);
}

.theme__icon {
  opacity: 1;
  width: 1.125rem;
}

.theme__icon--light {
  color: var(--FONT-COLOR-THEME-ICON-LIGHT);
}

.theme__icon--dark {
  color: var(--FONT-COLOR-THEME-ICON-DARK);
}

.header {
  margin-block-end: clamp(1rem, 2.3521rem + -1.5023vw, 2rem);
}

.header__container {
  padding-block-start: clamp(1.25rem, 6.3204rem + -5.6338vw, 5rem);
  position: relative;
}

.search {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search__input {
  border: var(--BORDER-SEARCH-INPUT);
  border-radius: 100px;
  padding: 0.5em 1em;
  width: clamp(9rem, -8.4545rem + 87.2727vw, 12rem);
  color: var(--FONT-COLOR-SEARCH-INPUT);
  font-size: 0.875rem;
}

.search__input::placeholder {
  color: var(--FONT-COLOR-SEARCH-INPUT-PLACEHOLDER);
}

.search__button {
  padding: 0.25em;
}

.search__icon {
  color: var(--COLOR-SEARCH-ICON);
}

.header__title {
  font-family: var(--FF);
  font-weight: 700;
  text-align: center;
  color: var(--FONT-COLOR-HEADER-TITLE);
}

.header__subtitle {
  font-family: var(--FF);
  font-weight: 400;
  text-align: center;
  color: var(--FONT-COLOR-HEADER-SUBTITLE);
}

/** || MAIN */
.clock {
  padding: 1em;
  max-width: 30rem;
  margin-inline: auto;
}

.clock__assets {
  background-color: var(--BGCOLOR-CLOCK-ASSETS);
  box-shadow: var(--BOX-SHADOW-CLOCK-ASSETS);
  min-width: 15rem;
  min-height: 15rem;
  max-width: 23rem;
  max-height: 23rem;
  margin-inline: auto;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 100%;
  position: relative;
  margin-block-end: 2rem;
}

.clock__marker {
  background-color: var(--BGCOLOR-CLOCK-MARKER);
  width: 0.0725rem;
  height: clamp(0.65rem, -0.225rem + 4.375vw, 1rem);
  top: 50%;
  left: 50%;
  position: absolute;
}

.clock__time {
  color: var(--FONT-COLOR-CLOCK-TIME);
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: clamp(1.3125rem, 0.21875rem + 5.46875vw, 1.75rem);
}

.clock__time--12 {
  top: 7%;
  left: 50%;
}

.clock__time--3 {
  top: 50%;
  left: 93%;
}

.clock__time--6 {
  top: 93%;
  left: 50%;
}

.clock__time--9 {
  top: 50%;
  left: 7%;
}

.clock__marker--1 {
  transform: translate(-50%, -50%) rotate(30deg);
  top: 11.03%;
  left: 72.5%;
}

.clock__marker--2 {
  transform: translate(-50%, -50%) rotate(60deg);
  top: 27.5%;
  left: 88.97%;
}

.clock__marker--4 {
  transform: translate(-50%, -50%) rotate(120deg);
  top: 72.5%;
  left: 88.97%;
}

.clock__marker--5 {
  transform: translate(-50%, -50%) rotate(150deg);
  top: 88.97%;
  left: 72.5%;
}

.clock__marker--7 {
  transform: translate(-50%, -50%) rotate(210deg);
  top: 88.97%;
  left: 27.5%;
}

.clock__marker--8 {
  transform: translate(-50%, -50%) rotate(240deg);
  top: 72.5%;
  left: 11.03%;
}

.clock__marker--10 {
  transform: translate(-50%, -50%) rotate(300deg);
  top: 27.5%;
  left: 11.03%;
}

.clock__marker--11 {
  transform: translate(-50%, -50%) rotate(330deg);
  top: 11.03%;
  left: 27.5%;
}

.clock__hour {
  position: absolute;
  transform: translate(-50%, -100%) rotate(0deg);
  transform-origin: bottom;
  top: 50%;
  left: 50%;
  width: clamp(0.1875rem, 0.0625rem + 0.625vw, 0.2375rem);
  height: clamp(3.5rem, -4rem + 37.5vw, 6.5rem);
  background-color: var(--BGCOLOR-CLOCK-HOUR);
  border-radius: 100px;
}

.clock__minute {
  position: absolute;
  transform: translate(-50%, -100%) rotate(0deg);
  transform-origin: bottom;
  top: 50%;
  left: 50%;
  width: clamp(0.125rem, 2.7756rem + 0.625vw, 0.175rem);
  height: clamp(5rem, -5rem + 50vw, 9rem);
  background-color: var(--BGCOLOR-CLOCK-MINUTE);
  border-radius: 100px;
}

.clock__second {
  position: absolute;
  transform: translate(-50%, -100%) rotate(0deg);
  transform-origin: bottom;
  top: 50%;
  left: 50%;
  width: clamp(0.1rem, -0.025rem + 0.625vw, 0.15rem);
  height: clamp(6.5rem, -3.5rem + 50vw, 10.5rem);
  background-color: var(--BGCOLOR-CLOCK-SECOND);
  border-radius: 100px;
}

.clock__knob {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--BGCOLOR-CLOCK-KNOB);
  border: var(--BORDER-CLOCK-KNOB);
  border-radius: 100%;
}

.clock__text {
  text-align: center;
  margin-inline: auto;
}

.clock__digital-time {
  color: var(--FONT-COLOR-CLOCK-DIGITAL-TIME);
  font-size: 2.25rem;
  font-weight: 400;
  display: block;
  margin-block-end: 0.1em;
}

.clock__am-pm {
  font-size: 1.125rem;
}

.clock__location {
  color: var(--FONT-COLOR-CLOCK-LOCATION);
  font-size: 1.125rem;
  margin-block-end: 1.2em;
}

.clock__date {
  color: var(--FONT-COLOR-CLOCK-DATE);
  font-size: 1.125rem;
}

/** || FOOTER */
.footer {
  position: absolute;
  width: 100%;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer__tagline {
  color: var(--FONT-COLOR-FOOTER-TAGLINE);
  text-align: center;
  font-weight: 400;
  font-size: 0.825rem;
}

.footer__link {
  font-weight: 700;
}

.footer__link:hover,
.footer__link:focus-visible {
  text-decoration: underline;
}

/** || MEDIA QUERY (DEVICE WIDTH) */
@media screen and (min-width: 23.4375rem) {
}

@media screen and (min-width: 48rem) {
}

/** || MEDIA QUERY (REDUCED MOTION) */
/* CHANGE THE DATA BELOW AS NEEDED */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  /* ADD OTHER TRANSITIONS AND ANIMATIONS HERE */

  .theme {
    transition: box-shadow 0.3s ease-in-out;
  }

  .theme__button {
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }

  .theme__button::after {
    transition: transform 0.15s ease-in-out, background-color 0.3s ease-in-out;
  }

  .theme__icon {
    transition: opacity 0.3s ease-in-out;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto !important;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.001ms !important;
    animation-delay: 0.001ms !important;
    animation-iteration-count: 1 !important;
    animation: none !important;
    transition-duration: 0.001ms !important;
    transition-delay: 0.001ms !important;
    transition: none !important;
    caret-color: auto !important;
  }
}
